* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
  }
  
  body {
    background:slategrey;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .main_wrapper {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .header{
      width:100%;
      height:150px;
      display:flex;
      justify-content: center;
  }

  .header img{
      width:100%;
      height:150px;
      border-bottom: 5px solid orange;
  }

  .content{
      width:80%;
      min-height:600px;
      float:right;
      background-color: khaki;
      padding:10px;
      
  }

  .sidebar{
    width:20%;
    height:600px;
    float:left;
    text-align: center;
    border: 5px solid black;
    background-color:dodgerblue;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .sidebar a{
      color:white;
      text-decoration: none;
      font-size:large;
  }

  .sidebar a:hover{
      color:orangered;
      text-decoration: underline;
      font-weight: bold;
  }

  .products_table_header{
    background-color:black;
    text-align:center;
    color:white;
  }
 
.view_products_container{
  width: 90%;
  margin: auto;
  padding:10px;
  background-color:white;
}

.view_products_container table{
  width:100%;
  margin:auto;
  padding:20px;
}

/* .view_products_container table tr{
  height:40px;
} */

/* .view_products_container table tr:nth-child(odd){
  background-color: cyan;
}

.view_products_container table tr:nth-child(even){
  background-color: gainsboro;
} */

.view_products_container table tr th,td{
  text-align: center;
  padding: 5px;
}

.view_products_container table tr td img{
  height: 60px;
  width: 60px;
}

/* add_category.php start */

.add_category_form_container{
  background-color:honeydew;
  margin:30px auto;
  width:70%;
  height:100px;
  border-radius: 10px;
  padding: 10px;
}

.add_category_form_container form{
  width: 100%;
  height:100%;
}

.add_category_form_header{
  height:40%;
  text-align: center;
}

.add_category_form .input_control{
  height:50px;
  padding:10px 50px 10px 50px;
}

.add_category_form .input_control label{
  font-weight: bold;
  font-size: large;
}

.add_category_form .input_control input{
  height: 30px;
  padding:5px;
  border-radius: 10px;
}

.add_category_form .input_control button{
  margin-left: 40px;
  height: 30px;
  border-radius: 10px;
  font-weight:bold;
  font-size: large;
  padding:5px;
}

/* add_category.php end*/

/* LOGIN FORM CSS START */
.login_form_container {
  width: 400px;
  height: 400px;
  margin: 100px auto 50px;
  border: 1px solid;
  border-radius: 10px;
  padding: 3% 25px 3% 25px;
  background-color: blanchedalmond;
}

.login_form_container form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.login_form_header {
  height: fit-content;
  font-weight: bold;
  font-family: 'Roboto', 'sans-serif';
  text-align: center;
  color: black;
  padding: 10px;
  margin-bottom: 20px;
}

.login_form_container .input_control {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.login_form_container .input_control label {
  font-family: 'Roboto', 'sans-serif';
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}

.login_form_container .input_control input {
  border-radius: 5px;
  margin-bottom: 15px;
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: medium;
}


.login_form_container .input_control input:hover {
  border-color: green;
}

.login_button_container {
  margin-bottom: 10px;
  display: inline-flex;
  height: 50px;
}

.login_button_container button {
  color: black;
  width: 40%;
  height: inherit;
  margin: auto;
  transition: ease-in-out 0.5s;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Roboto', 'sans-serif';
  font-size: large;
  background-color: gray;
}

.login_button:hover {
  background-color: rgb(54, 54, 116);
  border: 1px black;
  color: white;
}

.login_form_container h3 {
  text-align: center;
}

.login_form_container h3 a {
  text-decoration: none;
  color: blue;
}

/* LOGIN FORM CSS END */
